/*--[font]....................................*/
@font-face {
    font-family: "Michroma";
    src: url("assets/FONTS/Michroma.ttf") format("ttf");
}

.text_1 {
    font-family: 'Michroma' !important;
}



h2,
h3 {
    font-family: 'Poppins-bold', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    background-color: #FAF7F2;
}

/*....................................*/

.menu_bg {
    background-image: url('../IMG/PNG/about.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}

/*[menu]...........*/

.menu_area {
    padding-top: 50px;
}

.menu_area_1 {
    background-color: white;
    border-radius: 50px;
    height: 70px;
    margin-top: 10px;
    /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
    margin-bottom: 11px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
    padding: 5px;
    padding-top: 10px;
}

.logo {
    padding-left: 34px;
}

.menu_con {
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.menu {
    justify-content: end;
    align-items: center;
    text-align: center;
}

.menu_txt {
    padding: 0px;
}

.rs {
    padding: 0px;
}


.rs a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu_txt a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu_txt select {
    padding: 3px 5px 3px 5px;
    background-color: #CBAD8D;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.menu_btn {
    align-items: center;
    gap: 25px;
    text-align: center;
}

.btn button {
    border: none;
    padding: 3px 25px 3px 25px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 10pt;
}

/*[banner]...........................*/

.title {
    padding-top: 24%;
}

.title h2 {
    font-weight: 600;
    font-size: 30;
    color: white;
}

.title p {
    color: white;
}

.title span {
    background-color: #CBAD8D;
    width: 90px;
    height: 2px;
    display: inline-block;
    padding: 0px;
    margin-bottom: 16px;
}

/*[row_1].........................................*/

.row_1 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.section_1_area {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.img_area {
    text-align: center;
}

.r1_text {
    flex-direction: column;
}

.star svg {
    width: 4%;
}

.points {
    flex-direction: column;
    gap: 0px;
}

.row_1 p {
    font-size: 11pt;
}

.r1_btn button {
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

/*[row_2].....................................*/

.r2_area{
    flex-direction: column;
    gap: 10px;
}

.r2_1{
    background-color:white;
    border-radius:10px;
    padding: 5px;
    gap:10px;
}