@media(max-width:1024px) {

    /*..[menu_area]...........................*/
    .menu_area {
        margin-top: 33px !important;
    }

    .menu_con {
        justify-content: flex-start !important;
        gap: 40px !important;
    }

    .menu {
        gap: 10px !important;
    }

    .rs {
        width: 22% !important;
    }

    .menu_btn {
        gap: 48px !important;
    }

    /*..[banner]...........................*/

    .banner_area {
        padding-top: 14% !important;
    }

    /*..[SECTION-1]...........................*/

    .in_put1 input {
        width: 80% !important;
    }

    .in_put input {
        width: 120% !important;
    }

    /*..[SECTION-2]...........................*/

    .s2_txt {
        width: 80% !important;
    }

    /*..[SECTION-3]...........................*/
    .s3_txt {
        padding: 0px !important;
    }

    /*..[SECTION-4]...........................*/

    .s4_rowarea {
        align-items: center !important;
    }

    .im_1 {
        height: 151px !important;
    }

    .im_2 {
        margin-top: 63px !important;
    }

    .im_3 {
        height: 271px !important;
    }

    .im_4 {
        height: 172% !important;
    }

    .im_5 {
        width: 37% !important;
    }


    /*..[SECTION-5]...........................*/

    .s5_bgarea {
        height: 646px !important;
    }

    .s5_txt {
        font-size: 14pt !important;
    }

    /*..[section-8]...........................*/

    .slider_1 {
        min-height: 120vh !important;
    }

    /*..[contact_us]...........................*/

    .contact_p p {
        font-size: 11pt;
    }

    /*..[footer]...........................*/

    .footer {
        height: 413px !important;
    }

    .footer_icons {
        width: 55% !important;
    }

    .f_side1 {
        flex: 0.7 !important;
    }

    .email_svg {
        width: 32% !important;
    }

    .footer li {
        font-size: 10pt;
    }

    .footer p {
        font-size: 10pt;
    }

}


/*...[tab_size].....................*/

@media(max-width:768px) {

    /*..[menu_area]...........................*/

    .menu_con {
        display: none;
    }

    .text_1 {
        font-size: 33px !important;
        width: none !important;
    }

    .toggle_area {
        display: block !important;
    }

    .toggle svg {
        width: 50px;
        float: right;
        padding-right: 2px;
    }

    .toggle_menuarea a {
        text-decoration: none;
        color: black;
    }

    .menu_area {
        height: auto !important;
    }

    .menuarea_bg {
        height: 666px !important;
    }

    /*..[SECTION-1]...........................*/

    .check_availability {
        flex-direction: column !important;
        align-items: start !important;
        gap: 20px !important;
        padding-right: 0px !important;
    }

    .check {
        width: 100%;
        border-bottom: 1px solid rgb(184, 184, 184);
        padding: 0px !important;
    }

    .check2 {
        width: 100%;
        padding: 0px !important;
    }

    .check svg {
        width: 50% !important;
    }

    .check input {
        width: 100% !important;
        outline: none;
    }

    .check2 button {
        width: 100% !important;
    }

    .S1_btn {
        padding: 0px !important;
    }

    /*..[SECTION-2]...........................*/
    .s2_colum {
        flex: 0 0 100%;
    }

    .s2_row_img1 img {
        height: 350px !important;
    }

    .s2_row_img2 img {
        height: 260px !important;
    }

    .s2_row_img3 img {
        height: 260px !important;
    }

    /*..[SECTION-3]...........................*/
    .image_area_1 {
        order: 1 !important;
    }

    .text_area_1 {
        order: 2 !important;
    }

    .s3_con {
        height: auto !important;
    }

    .s3_row {
        height: auto !important;
        flex-direction: column;
    }

    .se3_1img {
        display: none !important;
    }

    .se3_2img {
        display: none !important;
    }

    .se3_3img img {
        height: 367px !important;
    }

    .se3_3img {
        height: 375px !important;
    }

    .text_area_row {
        flex-direction: row !important;
    }

    .s3_btn button {
        margin-left: 15px !important;
    }

    .s3_btn {
        width: 100% !important;
    }

    .s3_p {
        margin-left: 43px !important;
    }

    /*..[SECTION-4]...........................*/
    .s4_img1 {
        display: none !important;
    }

    .s4_img2 {
        display: none !important;
    }

    .im_3 {
        border-radius: 14px !important;
    }

    .s4_rowarea {
        flex-direction: column !important;
        gap: 20px !important;
        ;
    }

    .s4_row {
        flex-direction: row !important;
    }

    .s4_btn {
        width: 100% !important;
    }

    /*..[SECTION-5]...........................*/

    .s5_col {
        gap: 0px !important;
        flex-direction: column !important;
    }

    .s5_row {
        gap: 20px !important;
    }

    /*..[SECTION-6]...........................*/

    .s6_menu p {
        font-size: 9pt !important;
    }

    .s6_menu img {
        height: 114px !important;
    }

    /*..[SECTION-7]...........................*/

    .video_area {
        height: 370px !important;
    }

    /*..[SECTION-8]...........................*/

    .card {
        height: 435px !important;
        width: 305px !important;
        /* gap:10px; */
    }

    .card p {
        margin-bottom: 2px !important;
        font-size: 11pt !important;
    }

    /*..[SECTION-9]...........................*/

    .s9_area h2 {
        font-size: 20px !important;
    }

    .s9_area p {
        font-size: 10pt !important;
    }

    /*..[SECTION-10]...........................*/

    .s10_1 {
        display: none !important;
    }

    /*..[SECTION-11]...........................*/

    .footer {
        height: 691px !important;
    }

    .footer_area {
        flex-direction: column !important;
        gap: 40px !important;
    }

    .footer_icons {
        width: 35% !important;
    }

    .footer_inputarea {
        width: 59% !important;
    }
}



/*..[phone_size]...........................*/


@media(max-width:425px) {


    /*..[menu_area]...........................*/

    .menu_con {
        display: none;
    }

    .logo img {
        width: 100px !important;
    }

    .text_1 {
        font-size: 21px !important;
        width: 378px !important;
    }

    .text_p2 {
        font-size: 12px !important;
        width: 370px !important;
    }

    .toggle_area {
        display: block !important;
    }

    .toggle svg {
        width: 40px !important;
        float: right;
        padding-right: 2px;
    }

    .toggle_menuarea a {
        text-decoration: none;
        color: black;
    }

    .menu_area {
        height: auto !important;
    }

    .menuarea_bg {
        height: 550px !important;
    }

    /*..[SECTION-1]...........................*/

    .check2 {
        padding: 0px !important;
    }

    .S1_btn {
        padding: 0px !important;
    }

    /* .check2 button{padding:0px !important;} */

    /*..[SECTION-2]...........................*/
    .s2_colum {
        flex: 0 0 0%;
    }

    .s2_area {
        flex-direction: column !important;
    }

    .s2_row_img1 img {
        height: 330px !important;
    }

    .s2_row_img2 img {
        height: 330px !important;
    }

    .s2_row_img3 img {
        height: 330px !important;
    }

    /*..[SECTION-3]...........................*/
    .image_area_1 {
        order: 1 !important;
    }

    .text_area_1 {
        order: 2 !important;
    }

    .text_area_1 p {
        font-size: 11pt !important;
    }

    .s3_con {
        height: auto !important;
    }

    .s3_row {
        height: auto !important;
        flex-direction: column;
    }

    .se3_1img {
        display: none !important;
    }

    .se3_2img {
        display: none !important;
    }

    .se3_3img img {
        height: 304px !important;
    }

    .se3_3img {
        height: 295px !important;
    }

    .text_area_row {
        flex-direction: row !important;
    }

    .s3_btn button {
        margin-left: 15px !important;
    }

    .text_area_1 h5 {
        font-size: 15px !important;
    }

    .text_area_p p {
        width: 200px !important;
    }

    .text_area_p svg {
        width: 10% !important;
    }

    .s3_p {
        margin-left: 17px !important;
    }

    /*..[SECTION-4]...........................*/
    .s4_img1 {
        display: none !important;
    }

    .s4_img2 {
        display: none !important;
    }

    .im_3 {
        border-radius: 14px !important;
    }

    .s4_rowarea {
        flex-direction: column !important;
        gap: 20px !important;
        ;
    }

    .s4_row {
        flex-direction: row !important;
    }

    /*..[SECTION-5]...........................*/

    .s5_col {
        gap: 40px !important;
        flex-direction: row !important;
    }

    .s5_row {
        flex-direction: column !important;
    }

    .s5_bgarea {
        height: 1776px !important;
    }

    /*..[SECTION-6]...........................*/

    .s6_menu p {
        font-size: 10pt !important;
    }

    .s6_menu {
        flex-direction: column !important;
    }

    /*..[SECTION-7]...........................*/

    .video_area {
        height: 370px !important;
    }

    /*..[SECTION-8]...........................*/

    .card {
        height: 435px !important;
        width: 305px !important;
    }

    .card p {
        margin-bottom: 2px !important;
    }

    .card {
        transform: translateX(0px) scale(0.9) translateZ(0px) !important;
    }

    .s8_bg {
        height: 820px !important;
        margin-bottom: 55px !important;
    }


    /*..[SECTION-9]...........................*/

    .s9_area {
        flex-direction: column !important;
    }


    /*..[SECTION-10]...........................*/

    .s10_1 {
        display: none !important;
    }

    /*..[SECTION-11]...........................*/

    .footer {
        height: 780px !important;
    }

    .footer_area {
        flex-direction: column !important;
        gap: 40px !important;
    }

    .footer_icons {
        width: 60% !important;
    }

    .footer_inputarea {
        width: 100% !important;
    }

    .footer p {
        font-size: 8pt !important;
    }
}