/*--[font]....................................*/
@font-face {
    font-family: "Michroma";
    src: url("assets/FONTS/Michroma.ttf") format("ttf");
}

.text_1 {
    font-family: 'Michroma' !important;
}



h2,
h3 {
    font-family: 'Poppins-bold', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/*....................................*/
.login_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    padding: 15px;
}

.log_in input {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    background-color: rgb(218, 216, 216);
    border: none;
    border-radius: 5px;
}

.log_in p {
    color: rgb(148, 148, 148);
    font-size: 12px;
}

.log_in button {
    border: none;
    padding: 5px 25px 5px 25px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.title_area p {
    font-size: 14px;
}

._or {
    text-align: center;
    flex: 0;
}

.line {
    border-bottom: 1px solid rgb(148, 148, 148);
}

.google button {
    border: none;
    padding: 5px 25px 5px 25px;
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.google svg {
    width: 3%;
}

.facebook button {
    border: none;
    padding: 5px 25px 5px 25px;
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.facebook svg {
    width: 3%;
}

.login_link {
    text-align: center;
}

.login_link p {
    font-size: 12px;
}

.login_link a {
    text-decoration: none;
}

/*[image]....................*/

.login_img img {
    width: 100%;
    height: 480px;
}

/*[responsive]...........................*/

@media(max-width:1024px) {
    .login_img img {
        height: 496px;
    }

    .login_link p {
        font-size: 12px;
    }
}

@media(max-width:768px) {
    .login_area {
        transform: translate(-50%, -25%);
    }

    .main_row {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        gap: 10px;
    }

    .title_area p {
        font-size: 14px;
    }

    .login_link p {
        font-size: 12px;
    }
}

@media(max-width:425px) {
    .login_area {
        transform: translate(-50%, -25%);
    }

    .main_row {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        gap: 5px;
    }

    .title_area p {
        font-size: 12px;
    }

    .login_link p {
        font-size: 10px;
    }
}