/*--[font]....................................*/
@font-face {
    font-family: "Michroma";
    src: url("assets/FONTS/Michroma.ttf") format("ttf");
}

.text_1 {
    font-family: 'Michroma' !important;
}



h2,
h3 {
    font-family: 'Poppins-bold', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    background-color: #FAF7F2;
}

/*....................................*/

.menu_bg {
    background-image: url('../IMG/PNG/services_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}

/*[menu]...........*/

.menu_area {
    padding-top: 50px;
}

.menu_area_1 {
    background-color: white;
    border-radius: 50px;
    height: 70px;
    margin-top: 10px;
    /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
    margin-bottom: 11px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
    padding: 5px;
    padding-top: 10px;
}

.logo {
    padding-left: 34px;
}

.menu_con {
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.menu {
    justify-content: end;
    align-items: center;
    text-align: center;
}

.menu_txt {
    padding: 0px;
}

.rs {
    padding: 0px;
}


.rs a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu_txt a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu_txt select {
    padding: 3px 5px 3px 5px;
    background-color: #CBAD8D;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.menu_btn {
    align-items: center;
    gap: 25px;
    text-align: center;
}

.btn button {
    border: none;
    padding: 3px 25px 3px 25px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 10pt;
}

/*[banner]...........................*/

.title {
    padding-top: 24%;
}

.title h2 {
    font-weight: 600;
    font-size: 30;
    color: white;
}

.title p {
    color: white;
    width: 55%;
}

.title span {
    background-color: #CBAD8D;
    width: 90px;
    height: 2px;
    display: inline-block;
    padding: 0px;
    margin-bottom: 16px;
}

/*[toggle].......................................*/

.toggle_area {
    display: none;
}

.toggle_menuarea {
    display: none;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    overflow: hidden;
    left: 50%;
}

.tog {
    padding-bottom: 10px;
}

/*[row_1].....................................*/

.row_1_bg {
    margin-top: 80px;
    margin-bottom: 80px;
}

.r1_area {
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.section_1 {
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.column_1 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image_area {
    padding: 0px;
}

.image_area img {
    width: 100%;
}

.text {
    padding: 10px;
}

.text button {
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

/*-------------------------------*/

.section_2 {
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.column_2 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image_area_2 {
    padding: 0px;
}

.image_area_2 img {
    width: 100%;
}

.text_2 {
    padding: 10px;
}

.text_2 button {
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}


/*[footer]......................................*/

.footer {
    background-color: black;
    height: 445px;
    border-bottom: 30px solid #CBAD8D;
}

.footer_area {
    gap: 20px;
    padding-top: 50px;
}

.f_side1 {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.f_side1 p {
    color: white;
    margin-bottom: 0px;
    margin-top: 20px;
}

.footer_inputarea {
    background-color: #555555;
    border-radius: 3px;
    width: 80%;
    margin-left: 10px;
}

.footer_inputarea input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #555555;
    outline: none;
}

.footer_inputarea button {
    background-color: #555555;
    border: none;
}

.footer_inputarea svg {
    width: 21%;
    padding-top: 10px;
    float: right;
}

.f_side1_se {
    flex-direction: column;
}

.footer_icons {
    gap: 10px;
    width: 35%;
    padding: 0px;
}

.sec_2 h2 {
    color: white;
}

.sec_2 li {
    color: white;
}

.sec_2_r1 p {
    color: white;
}


/*[responsive]..........................................*/

@media(max-width:1024px){
    
}